<div class="chatContainer">
  <h1>BIENVENIDOS AL CHAT</h1>
  <p id="mensajePersonalizado"></p>
  <input type="text" name="" id="inputMesg" />
  <button id="sendBtn">Enviar</button>
  <div id="panelChat">

  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/home.js"></script>



