.chatContainer {
  width: 40%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  margin-top: 300px;
}
#panelChat {
  width: 40%;
  height: auto;
  margin: auto;
  padding: 25px;
  border: solid 2px black;
  margin-top: 50px;
}
.mensajes {
  height: auto;
  margin: auto;
  padding: 10px;
  border: solid 2px black;
  margin: 10px;
}
